<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<!--<link rel="shorcut icon" href="/favicon.ico" type="image/x-icon">-->
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6362732/749286/css/fonts.css" />
<script src="//use.typekit.net/lxl5zku.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="{{ '/css/home.css' | prepend: site.baseurl }}">