---
layout: default
css: /css/products.css
title: Products
nofooter: TRUE
javascripts: >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-animate.min.js"></script>
    <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
---
{{ content }}
