---
layout: default
css: /css/whatsnew.css
title: What's New
javascripts: >
    <!--<script type="text/javascript" src="/js/scrollReveal.js"></script>-->
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            var owl = $("#announcement-container");
            owl.owlCarousel({
                loop: false,
                mouseDrag: false,
                items: 1,
                nav : false

            });
        });
    </script>
---
{{ content }}
