---
layout: default
css: /css/whatsnew.css
title: What's New
javascripts: >
    <!--<script type="text/javascript" src="/js/scrollReveal.js"></script>-->
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            var owl = $("#announcement-container1");
            owl.owlCarousel({
                loop: true,
                mouseDrag: true,
                items: 1,
                autoplayTimeout: 7000,
                autoplay: true,
                navText: [
                    '<img id="owl-left" src="/img/left.png"/>',
                    '<img id="owl-right" src="/img/right.png"/>'
                ],
                responsive:{
                    0:{
                        touchDrag: true,
                        nav:false
                    },
                    992:{
                        nav:true
                    }
                }
            });
        });
        $(document).ready(function() {
            var owl = $("#announcement-container2");
            owl.owlCarousel({
                loop: true,
                mouseDrag: true,
                items: 1,
                autoplayTimeout: 7000,
                autoplay: true,
                navText: [
                    '<img id="owl-left" src="/img/left.png"/>',
                    '<img id="owl-right" src="/img/right.png"/>'
                ],
                responsive:{
                    0:{
                        touchDrag: true,
                        nav:false
                    },
                    992:{
                        nav:true
                    }
                }
            });
        });
    </script>

---
{{ content }}
