<footer>
    <div class="container">
        <div class="terms"><a href="/termsandconditions/">Terms and Conditions</a>
        </div>
        <div class="copyright">2015-2017 ALL RIGHTS RESERVED COSMETICS REVELATION CORPORATION. <b>FDA REGISTERED.</b></div>
        <div class="social-media-buttons hidden-xs">
            <ul>
                {% for media in site.data.socialMedia %}
                <li>
                    <a href="{{ media.url }}" target="_blank">
                        <img src="{{ media.image }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
