<footer>
    <div class="container">
        <div class="copyright">2015 ALL RIGHTS RESERVED COSMETIC REVELATION COMPANY</div>
        <div class="social-media-buttons hidden-xs">
            <ul>
                {% for media in site.data.socialMedia %}
                <li>
                    <a href="javascript:void(0)">
                        <img src="{{ media.image }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>