<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" id="icon-transition" class="navbar-toggle toggle-menu menu-right" data-toggle="collapse" data-target="#navbar-right-collapse">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/brand-logo.png"/>
            </a>
        </div>
        <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="navbar-right-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for navbarMenu in site.data.navbar %}
                <li {% if page.url == navbarMenu.slugUrl %} class="navbar-menu active" {% endif %} class="navbar-menu">
                    <a href="{{ navbarMenu.url }}">{{ navbarMenu.name | upcase }}</a>
                </li>
                {% if navbarMenu.name == "Products" %}
                <ul class="category-menu-container hidden-lg">
                    {% for categoryMenu in site.data.categories %}
                    <li class="category-menu">
                        <a href="{{ categoryMenu.url }}">{{ categoryMenu.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                <li class="navbar-menu">
                    <a class="contact-typeform" href="#">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<a style="display: none" class="typeform-share" href="https://fscosmetics.typeform.com/to/MVsHwt" data-mode="1" target="_blank">CONTACT US</a>
