<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" id="icon-transition" class="navbar-toggle toggle-menu menu-right" data-toggle="collapse" data-target="#navbar-right-collapse">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/brand-logo.png"/>
            </a>
        </div>

        <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="navbar-right-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for navbarMenu in site.data.navbar %}
                <li>
                    <a href="{{navbarMenu.url}}">{{ navbarMenu.name | upcase }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>