$black: #000000
$white: #ffffff

body
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'sans-serif'

#mock
  background-image: url('/img/mock.jpg')
  background-size: cover
  opacity: 0.6

nav
  &.navbar-default
    background-color: transparent
    border-color: transparent
    .container
      .navbar-header
        .navbar-brand
          img
            transition: all 300ms ease
            height: 50px
            filter: none
            -webkit-filter: none
            -moz-filter: none
            -o-filter: none
            -ms-filter: none
      .navbar-nav
        transition: all 300ms ease
        li
          &:hover
            border-bottom: 1px solid #FFFFFF
          a
            color: #FFFFFF
            padding: 0
  &.navbar-shrink
    background-color: #000000 !important
    .container
      .navbar-header
        height: 80px !important
        .navbar-brand
          img
            height: 45px !important
      .navbar-nav
        height: 80px


#cover
  .container
    height: 100vh
    position: relative
    background-color: $black
    width: auto
    background-image: url('http://res.cloudinary.com/fscosmetics/image/upload/v1442379830/assets/model-cover.jpg')
    background-repeat: no-repeat
    background-position: right
    background-size: 117vh
    #brand-logo
      margin: 65px 0 0 75px
      img
        height: 90px
    .cbp-qtrotator
      width: 350px
      position: relative
      margin: 123px 0 0 80px
      height: 84px
      .cbp-qtcontent
        position: absolute
        z-index: 0
        opacity: 0
        color: transparent
        &:before
          content: " "
          display: table
        &:after
          content: " "
          display: table
        p
          font-size: 16px
          line-height: 1.5em
          color: $white
        &.cbp-qtcurrent
          position: absolute
          z-index: 100
          opacity: 1
          width: inherit
        &:nth-child(2)
          width: 450px
        &:nth-child(5)
          width: 450px
    #cover-store-container
      margin: 26px 0 0 80px
      #cover-store-button
        color: rgba(255, 255, 255, .4)
        text-decoration: none
        padding: 13px 21px
        font-size: 11px
        border: 1px solid $white
        -webkit-transition: color 500ms ease
        -moz-transition: color 500ms ease
        -o-transition: color 500ms ease
        -ms-transition: color 500ms ease
        transition: color 500ms ease
        &:hover
          color: rgba(0, 0, 0, 1)
          background: $white

#product
  position: relative
  .container
    background-color: beige
    max-height: 610px
    height: 100vh
    width: 100%
    position: relative
    background-color: #ffffff
    background-image: url("http://res.cloudinary.com/fscosmetics/image/upload/v1442379811/assets/product-model.jpg")
    background-repeat: no-repeat
    background-size: 346px
    .product-category
      position: relative
      ul
        margin-top: 170px
        list-style: none
        padding-left: 80%
        li
          width: 100%
          max-width: 130px
          min-width: 130px
          transition: all 200ms ease
          line-height: 50px
          font-size: 15px
          font-weight: bold
          &:hover
            border-right: 5px solid $black
          a
            color: $black
            text-decoration: none
            opacity: 0.4
    .product-category-images
      position: relative
      .lSSlideOuter
        margin-top: 75px
        max-width: 500px
        min-width: 474px
        width: 100%
        bottom: -119px
        #product-img-slider
          height: 450px
          img
            display: block
            margin-left: auto
            margin-right: auto
            height: 450px
#whatsnew
  position: relative
  .container
    width: 100%
    height: inherit
    .content-container
      position: relative
      margin: 0 -15px
      img
        width: 100%
      .content-description
        top: 0
        width: 100%
        height: 100%
        color: $white
        position: absolute
        background: rgba(0,0,0,0.7)
        padding: 30% 40px  40px
        text-align: justify
        line-height: 25px
        opacity: 0
        transition: opacity 500ms ease
        h1
          font-size: 40px
          margin-bottom: 20px
        p
          font-family: Gotham-Light
          font-size: 15px
#banner
  position: relative
  .container
    width: 100%
    height: 43vw
    .banner-container
      padding: 0 84px 0
      position: relative
      height: inherit
      display: table-cell
      vertical-align: bottom
      img
        width: 113%
      #banner-content
        margin-left: -115px
        width: 72vh
        p
          font-family: Gotham-Light
          font-size: 2.5vw
          b
            font-family: "Gotham SSm A", "Gotham SSm B", "sans-serif"
footer
  position: relative
  height: inherit
  background: $black
  .container
    width: 100%
    height: 300px
    background: url("http://res.cloudinary.com/fscosmetics/image/upload/v1442379807/assets/footer-model.jpg")
    background-repeat: no-repeat
    background-position: right
    background-size: 117vh
    .footer-container
      width: 560px
      color: $white
      margin-top: 34px
      margin-left: 40px
      h4
        font-size: 14px
        font-weight: bold
      p
        font-family: 'Gotham-Light'
      ul
        list-style-type: none
        padding-left: 0px
        a
          font-family: 'Gotham-Light'
          text-decoration: none
          color: $white
          border-bottom: 1px solid rgba(255,255,255,0)
          &:hover
            border-bottom: 1px solid rgba(255,255,255,1)
    .rights-container
      margin-top: 20px
      margin-left: 55px
      span
        display: inline-block
        font-size: 12px
        color: $white
        font-family: 'Gotham-Light'
        b
          font-family: "Gotham SSm A", "Gotham SSm B", "sans-serif"
      #social-media-links
        padding-left: 100px
        display: inline-block
        ul
          list-style: none
          padding: 0px
          li
            padding: 0 7px
            display: inline-block
            img
              height: 35px


@-webkit-keyframes slide-right
  0%
    transform: translateX(0)
  100%
    transform: translateX(100)
@-webkit-keyframes slide-left
  100%
    transform: translateX(0)
  0%
    transform: translateX(100%)

@font-face
  font-family: Gotham-Light
  src: url(/font/Gotham-Light.otf)


