$black: #000000
$white: #ffffff

body
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'sans-serif'
//#mock
//  background: url("/img/home/mock.jpg")
//  background-size: cover
//  opacity: 0.6
#page-container
  max-height: 1366px
  #home
    .container
      position: relative
      background-color: $black
      min-height: 100vh
      width: auto
      background-size: cover
      background-image: url('/img/home/model-cover.jpg')
      background-repeat: no-repeat
      background-position: center right
      background-size: 117vh
      #brand-logo
        margin: 65px 0 0 75px
        img
          height: 73px
      #cover-content
        width: 301px
        margin: 76px 0 0 80px
        p
          font-size: 16px
          line-height: 21px
          color: $white
      #cover-store-container
        margin: 26px 0 0 80px
        #cover-store-button
          color: $white
          text-decoration: none
          border: 1px solid $white
          padding: 13px 21px
          font-size: 12.4px
      #navbar-menu-container
        color: $white
        position: absolute
        bottom: 45px
        margin-left: 19px
        ul
          list-style: none
          padding: 0px
          li
            font-size: 15px
            margin: 0 63px
            border: 1px solid
            padding: 17px 21px
            display: inline-block

