body
  margin: 110px 0 75px !important

#mock
  background-image: url('/img/mock.jpg')
  background-size: cover
  opacity: 0.6

nav
  &.navbar-default
    box-shadow: none !important
    .container
      .navbar-header
        height: 110px !important
      .navbar-nav
        height: 110px !important

  &.navbar-shrink
    box-shadow: 0px 0px 1px 0.5px #D2D0D0 !important
    .container
      .navbar-header
        height: 80px !important
        .navbar-brand
          img
            height: 45px !important
      .navbar-nav
        height: 80px !important

#cover-section
  margin-top: -110px
  position: relative
  height: 100vh
  background-color: #f1b4b0
  padding: 0
  #brand-logo
    margin: 65px 0 0 75px
    img
      height: 90px
  .table
    height: 100%
    display: table
    .table-row
      display: table-row
      height: 100%
      width: 100%
      position: relative
      .td
        font-family: 'Gotham-Light'
        display: table-cell
        vertical-align: middle
        &[class*="col-"]
          float: none
        &.td-img
          text-align: center
          img
            height: 60%
          .intro-arrow
            opacity: 1
            -webkit-animation: arrowMove 1s infinite
            animation: arrowMove 1s infinite
            -webkit-animation-fill-mode: both
            animation-fill-mode: both
            &.hidden
              -webkit-animation: fadeOut 1s
              animation: fadeOut 1s
            &:hover a
              opacity: .7
            img
              max-height: 20px
              margin-top: 15px
        &.right-corner
          background-color: black
          .td-right
            display: table
            float: none
            margin: 0 auto
            #td-arrow
              position: relative
              .intro-arrow
                position: absolute
                top: 150px
                right: 0
                opacity: 1
                -webkit-animation: arrowMove 1s infinite
                animation: arrowMove 1s infinite
                -webkit-animation-fill-mode: both
                animation-fill-mode: both
                &.hidden
                  -webkit-animation: fadeOut 1s
                  animation: fadeOut 1s
                &:hover a
                  opacity: .7
            #td-tagline
              h1
                color: #646467
                font-family: 'Roboto Condensed', sans-serif
                text-align: right
                font-size: 2.5em
                letter-spacing: 10px
                margin-right: -13px
                &:nth-child(2)
                  color: #7c7d80
                &:nth-child(3)
                  color: #cfcfd1
                &:nth-child(4)
                  color: #c8c8c8

            #td-product
              margin-top: 50px
              float: right
              a
                color: white
                display: inline-block
                text-decoration: none
                position: relative
                border: 1px solid white
                padding: 15px 25px
                font-family: Gotham-Light
                font-size: 1.2em
                background: linear-gradient(to right, black 50%, white 50%)
                background-size: 200% 100%
                background-position: left bottom
                transition: all 500ms ease
                &:hover
                  border-color: black
                  color: black
                  background-position: right bottom
  .page-scroll
    position: absolute
    bottom: 5%
    left: 0
    right: 0
    text-align: center
    display: inline-block
    a
      color: black
      .arrow-icon
        font-size: 40px

#video-section
  background-color: black
  .video-container
    padding: 0
    margin: 0
    width: 100%
    padding-top: 56.25%
    height: 0px
    position: relative
    iframe
      position: absolute
      top: 0px
      left: 0px
      right: 0px
      bottom: 0px
      width: 100%
      height: 100%

#best-seller-section
  position: relative
  height: 100vh
  .best-seller-container
    height: inherit
    .left-container
      background-color: #FFFFFF
      height: inherit
      #productImgSlider
        height: inherit
        list-style: none
        padding-left: 0
        margin-bottom: 0
        .owl-stage-outer
          height: inherit
          .owl-stage
            height: inherit
          .owl-item
            height: inherit
            margin-right: 5px
            //border-right: 1px solid black
            &:nth-child(even)
              margin-left: 1px
            .product-item
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              padding-bottom: 8%
              .product-title
                text-align: right
                padding-right: 10%
                font-family: 'Gotham-Light'
              .product-divider
                order: 0
                float: right
                border-top: 4px solid #333
                margin: 0px 10% 22px
                width: 40px
              .product-image
                width: auto
                max-height: 450px
    
    .right-corner
      height: inherit
      background-color: black
      .content-container
        width: 80%
        margin: 0 auto
        position: relative
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        .section-header
          color: white
          font-family: 'Gotham-Light'
          font-size: 4em
          letter-spacing: 1px
          text-transform: uppercase
        .best-seller-url
          &:hover, &:focus
            text-decoration: none
            color: #FFFFFF
        .best-seller-title
          display: inline-block
          margin: 3% 0
          color: white
          font-family: 'Gotham-Light'
          letter-spacing: 1px
          text-transform: uppercase
          &:hover, &:focus
            border-bottom: 1px solid #ffffff
            padding-bottom: 5px
        .content-separator
          width: 50px
          border-top: 1px solid #eeeeee
          margin: 10% 0 7%
        .best-seller-description
          line-height: 30px
          color: white
          font-family: 'Gotham-Light'
        .color-swatch
          width: 100%
          margin-top: 30px
          .swatches
            display: inline-block
            .swatch
              width: 40px
              height: 40px
              margin: 3px
              background: #dddddd
              float: left
              cursor: pointer
              border: 2px solid #ffffff
              &:hover
                border: 2px solid rgba(51, 51, 51, 0.5)
        .tooltip.top
          .tooltip-inner
            color: #000
            background-color: #ffffff
          .tooltip-arrow
            border-top-color: #ffffff


#awards-section
  background-color: black
  position: relative

  #awards-content
    margin: 5% 0
    text-align: center
    color: white
    font-family: 'Gotham-Light'
    .section-header
      margin: 30px 0 20px
      font-size: 2em
    .hr-division
      border-top: 2px solid white
      width: 60px
      margin: 45px auto
    .awards-details
      font-size: 1.2em
      display: block
      line-height: 30px
      letter-spacing: 1px

@-webkit-keyframes arrowMove
  to
    -webkit-transform: translateY(2rem)
    transform: translateY(2rem)
    opacity: 0


@keyframes arrowMove
  to
    -webkit-transform: translateY(2rem)
    transform: translateY(2rem)
    opacity: 0

//@media (max-width: $screen-md-max)
//  body
//    margin: 80px 0 75px !important
//  nav
//    &.navbar-default
//      box-shadow: 0px 0px 1px 0.5px #D2D0D0 !important
//      .container
//        .navbar-header
//          height: 80px !important
//          .navbar-brand
//            img
//              height: 40px !important
//        .navbar-nav
//          height: 80px !important

@media (max-width: 1024px)
  #best-seller-section
    height: 80vh
  
@media (max-width: $screen-xs-max)
  #best-seller-section
    height: auto !important
    .best-seller-container
      .left-container
        height: 380px
        #productImgSlider
          height: 100% !important
          .owl-stage-outer
            .owl-item
              .product-item
                padding-bottom: 0 !important
                display: table
                margin: 0 auto
                .product-image
                  width: 60% !important
                  height: auto !important

      .right-corner
        padding: 10% 0
        .content-container
          top: 0% !important
          transform: none !important
          -webkit-transform: none !important
          -moz-transform: none !important
          -o-transform: none !important
          -ms-transform: none !important
          .section-header
            font-size: 2.5em
            text-align: center

          .content-separator
            margin: 5% auto !important
          .best-seller-title
            text-align: center
            display: block !important
            border-bottom: none !important
            padding-bottom: 0 !important
          .best-seller-description
            font-size: 16px
            width: 90%
            margin: 20px auto
            text-align: center
          .color-swatch
            text-align: center

  #awards-section
    background-color: #ffffff
    #awards-content
      color: #000
      .hr-division
        border-top: 2px solid black

@media (max-width: $screen-xs)
  #best-seller-section
    .best-seller-container
      .left-container
        #productImgSlider
          .owl-stage-outer
            .owl-item
              .product-item
                .product-image
                  width: 75% !important
      .right-corner
        .content-container
          width: 100% !important
          .best-seller-title
            margin: 10px 0 !important
          .content-separator
            margin: 10% auto !important
.owl-carousel
  position: relative

.owl-prev, .owl-next
  position: absolute
  top: 50%
  margin-top: -10px
  img
    height: 30px
// Half of the prev/next buttons height here in negatives to center them perfectly

.owl-prev
  left: 0

.owl-next
  right: 0
