nav
  transition: all 300ms ease
  &.navbar-default
    background-color: #FFFFFF
    border-color: transparent
    .container
      height: inherit
      .navbar-header
        height: 110px
        .navbar-brand
          height: inherit
          img
            position: relative
            top: 50%
            transform: translateY(-50%)
            height: 45px
      .navbar-nav
        height: 110px
        li
          top: 50%
          transform: translateY(-50%)
          padding: 8px 25px 8px
          margin: auto 15px
          overflow: hidden
          position: relative
          border: 1px solid transparent
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid white
            border-bottom: 1px solid white
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid #fff
            border-right: 1px solid #fff
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          a
            font-size: 0.9em
            color: #ffffff
            padding: 0
            text-decoration: none





  //webkit-transform: translate(-101%, 0)
  //-ms-transform: translate(-101%, 0)
  //-o-transform: translate(-101%, 0)
  //transform: translate(-101%, 0)
  //border-top: 1px solid #fff
  //border-bottom: 1px solid #fff
  //-webkit-transform: translate(0, -101%)
  //-ms-transform: translate(0, -101%)
  //-o-transform: translate(0, -101%)
  //transform: translate(0, -101%)
  //border-left: 1px solid #fff
  //border-right: 1px solid #fff