@media (min-width: 1441px)
  #cover-section
    .table
      .table-row
        .td.td-img
          img
            height: 80%
        .td
          .td-right
            #td-tagline
              h1
                font-size: 3.2em
                letter-spacing: 10px

  #top-pick-section
    height: 100vh
    .top-pick-view
      height: 100%

  #best-seller-section
    .best-seller-container
      #productImgSlider
        .owl-stage-outer
          .owl-item
            .product-item
              .product-image
                width: 60%

  #awards-section
    #awards-content
      .section-header
        font-size: 3em
      .hr-division
        width: 125px
      .awards-details
        font-size: 1.3em
        line-height: 50px

  .bh-sl-container
    .bh-sl-map
      height: 80vh



@media(max-width: 1400px)
  #best-seller-section
    .best-seller-container
      #productImgSlider
        .owl-stage-outer
          .owl-item
            .product-item
              .product-image
                width: 70%
                height: auto

@media (max-width: $screen-lg)
  .navbar-default
    .container
      .navbar-header
        width: 100%
        .navbar-toggle
          display: inline-block
          top: 50%
          padding: 0
          margin: 0 15px 0
          border: 0
          color: black
          z-index: 5
          transform: translateY(-50%)
          -webkit-transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          background: transparent
          background-color: transparent
          &:hover
            background: transparent
            background-color: transparent
      .navbar-nav
        height: auto !important
        float: none !important
        margin: 50% 0%
        display: table
        li
          transform: none
          top: auto !important
          display: table
          float: none
          margin-bottom: 11px
          a
            color: white !important
            font-size: 1.2em
            padding-top: 10px
            padding-bottom: 10px
      
  .navbar-collapse.collapse
    height: 100% !important
    max-height: 100% !important
    background-color: black
    z-index: 2
  /* General styles for all menus
  .cbp-spmenu
    background: #f8f8f8
    position: fixed
    padding: 0
    margin: 0 !important
    overflow-x: hidden
    overflow-y: visible
    display: block
    visibility: visible
  /* Orientation-dependent styles for the content of the menu
  .cbp-spmenu-vertical
    width: 260px
    height: 100%
    top: 0
    z-index: 1000
  .cbp-spmenu-horizontal
    width: 100%
    height: 150px
    left: 0
    z-index: 1000
    overflow: hidden
  .cbp-spmenu-horizontal h3
    height: 100%
    width: 20%
    float: left
  .cbp-spmenu-horizontal a
    float: left
    width: 20%
    padding: 0.8em
    border-left: 1px solid #258ecd
  /* Vertical menu that slides from the left or right
  .cbp-spmenu-left
    left: -260px
  .cbp-spmenu-right
    right: -260px
  .cbp-spmenu-left.cbp-spmenu-open
    left: 0px
  .cbp-spmenu-right.cbp-spmenu-open
    right: 0px
  /* Horizontal menu that slides from the top or bottom
  .cbp-spmenu-top
    top: -150px
  .cbp-spmenu-bottom
    bottom: -150px
  .cbp-spmenu-top.cbp-spmenu-open
    top: 0px
  .cbp-spmenu-bottom.cbp-spmenu-open
    bottom: 0px
  /* Push classes applied to the body
  .cbp-spmenu-push
    overflow-x: hidden
    left: 0
  .cbp-spmenu-push-toright
    left: 260px
  .cbp-spmenu-push-toleft
    left: -260px
  /* Transitions
  .cbp-spmenu,
  .cbp-spmenu-push
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    transition: all 0.3s ease

  /* navbar icon transition*/

  #icon-transition
    width: 20px
    height: 20px
    position: relative
    -webkit-transition: .5s ease-in-out
    -moz-transition: .5s ease-in-out
    -o-transition: .5s ease-in-out
    transition: .5s ease-in-out
    cursor: pointer
  #icon-transition.open span
    background: white
  #icon-transition span
    display: block
    position: absolute
    height: 3px
    width: 100%
    background: black
    border-radius: 5px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
  #icon-transition span:nth-child(1) 
    top: 0px
  #icon-transition span:nth-child(2),
  #icon-transition span:nth-child(3) 
    top: 7px
  #icon-transition span:nth-child(4) 
    top: 14px
  #icon-transition.open span:nth-child(1) 
    top: 18px
    width: 0%
    left: 50%
  #icon-transition.open span:nth-child(2) 
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
  #icon-transition.open span:nth-child(3) 
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
  #icon-transition.open span:nth-child(4) 
    top: 18px
    width: 0%
    left: 50%

  #whatsnew
    .container-fluid
      .product-container
        .product-image-container
          .no-gutter
            img
              height: 60vh !important
        .product-description-container
          .product-description-content
            .product-title
              font-size: 3.5em
            .product-description
              font-size: 1.2em
            .product-net
              font-size: 1.2em

  #best-seller-section
    .best-seller-container
      height: inherit
      #productImgSlider
        height: 100%
        .owl-stage-outer
          height: 100%
          //.owl-item
          //  .product-item
          //    .product-image
          //      width: auto
          //      height: 420px
  #contact
    .contact-container
      .contact-content
        #hr-division
          width: 350px !important

  //#cover-section
    .table
      .table-row
        //.td
        //  img
        //    height: 450px !important
          .td-right
            #td-tagline
              h1
                font-size: 2em

  #top-pick-section
    .top-pick-view
      .tab-pane
        .table
          .tr
            .top-pick-title
              h2
                font-size: 25px

  //#best-seller-section
  //  height: 75%
  //  .best-seller-container
  //    #productImgSlider
  //      .owl-stage-outer
  //        .owl-item
  //          .product-item
  //            .product-image
  //              height: 350px

  #whatsnew
    .container-fluid
      .product-container
        .product-image-container
          .no-gutter
            img
              height: 45vh !important
        .product-description-container
          .product-description-content
            .product-title
              font-size: 3.5em
            .product-description
              font-size: 1.2em
              line-height: 5vh
              margin: 2% auto
            .product-net
              font-size: 1.2em
  #contact
    .contact-container
      .contact-content
        .section-header
          font-size: 2.5em
        .hr-division
          width: 325px !important
        .contact-details
          margin: 5px auto

@media (max-width: $screen-sm-max)
  #cover-section
    height: auto !important
    margin-top: 0
    .table
      margin-bottom: 0 !important
      .table-row
        .td
          padding: 0
          &[class*="col-"]
            float: left !important
          &.td-img
            margin: 5% 0
            img
              height: 350px !important
        .td-right
          display: table
          float: none
          margin: 5% auto !important
          #td-tagline
            h1
              float: none !important
              text-align: center !important
              font-size: 1.8em !important
          #td-product
            float: none !important
            text-align: center !important

  #top-pick-section
    .top-pick-menu-container
      ul
        li
          a
            font-size: 1.2em
  #best-seller-section
    .best-seller-container
      #productImgSlider
        .owl-stage-outer
          .owl-item
            margin: 0
            border-right: none
            .product-item
              .product-title
                padding-right: 0
                text-align: center
              .product-divider
                border: 0
                border-top: 4px solid #333
                margin: 20px auto
                width: 90px
                float: none
              .product-image
                width: auto

  #awards-section
    #awards-content
      max-width: 80%
      margin: 0% auto
  #whatsnew
    .container-fluid
      .product-container
        .product-image-container
          .no-gutter
            img
              height: 70vh !important
        .product-description-container
          .product-description-content
            .product-title
              font-size: 4em
              letter-spacing: 5px
            .product-description
              font-size: 1.8em
              line-height: 5.5vh !important
            .product-net
              font-size: 1.8em
  #contact
    .contact-container
      .contact-content
        max-width: 85%
        margin: 0 auto
        .section-header
          font-size: 2.5em
        .contact-details
          margin: 5px auto

@media (max-width: $screen-xs-max)
  nav.navbar-default
    .container
      .navbar-header
        .navbar-toggle
          margin-right: 0 !important
        .navbar-brand
          img
            height: 35px !important
      .navbar-nav
        margin: 25% 0 0
    
  #cover-section
    margin-top: 0px !important
    .table
      .table-row
        display: block
        .td
          padding: 0 !important
          display: inline-block
          &[class*="col-"]
            float: left !important
            height: auto !important
          &.td-img
            margin: 5% 0px 10% !important
          img
            height: 40vh !important
        .td-right
          margin: 10% auto !important
          display: block
          position: relative
          top: 0
          transform: none
          -webkit-transform: none
          -moz-transform: none
          -o-transform: none
          -ms-transform: none

          #td-tagline
            h1
              font-size: 1.5em !important
              text-align: center !important
          #td-product
            float: none !important
            display: table
            margin: 0 auto
            text-align: center

  #best-seller-section
    //height: 75%
    .best-seller-container
      #section-container
        height: 45px
        .section-title
          font-size: 20px
      #productImgSlider
        .owl-stage-outer
          .owl-item
            margin: 0
            border-right: none
            .product-item
              .product-title
                padding-right: 0
                text-align: center
              .product-divider
                border: 0
                border-top: 4px solid #333
                margin: 20px auto
                width: 90px
                float: none
              .product-image
                width: 90%
                height: auto

  #whatsnew
    .container-fluid
      .product-container
        .product-image-container
          .no-gutter
            img
              height: auto !important
              width: 80%
        .product-description-container
          .product-description-content
            .product-title
              font-size: 3.5em
              letter-spacing: 5px
            .product-description
              font-size: 1.5em
              line-height: 5vh !important
            .product-net
              font-size: 1.5em

  #awards-section
    .awards-content
      max-width: 100%
    
  #contact
    .contact-container
      height: 100vh !important
      .contact-content
        max-width: 95%
        margin: 0 auto
        .section-header
          font-size: 1.8em
        #hr-division
          width: 100% !important
          margin: 15px 0
        .contact-details
          display: block
          margin: 0
          font-size: 15px
          text-align: left
        .brand-partner
          display: block
          margin: 0
          margin-top: 10px !important
          font-size: 15px
          text-align: left
  .product-container
    .product-image
      background-color: transparent !important
      img
        width: 70% !important
        float: none
        display: table
        margin: 0 auto
    .product-information
      .product-title
        font-size: 25px !important
      h2
        font-size: 25px !important
  footer
    .copyright
      text-align: center
      float: none !important

//@media (max-width: $screen-xs-max) and (orientation: landscape)
//  #cover-section
//    height: 200vh
//    .table
//      .table-row
//        .td
//          &[class*="col-"]
//            height: 100vh
//          img
//            height: 100% !important
//        .td-right
//          display: block
//          position: relative
//          top: 50%
//          transform: translateY(-50%)
//          -webkit-transform: translateY(-50%)
//          -moz-transform: translateY(-50%)
//          -o-transform: translateY(-50%)
//          -ms-transform: translateY(-50%)
//
//  #best-seller-section
//    .best-seller-container
//      #productImgSlider
//        .owl-stage-outer
//          .owl-item
//            margin: 0
//            border-right: none
//            .product-item
//              .product-image
//                width: 40%
//                height: auto
//
//@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
//  #cover-section
//    .intro-arrow
//      img
//        margin-top: -15px !important