@media (min-width: 1441px)
  #cover
    .container-fluid
      .table
        .table-row
          .td.td-img
            img
              height: 60%
          .td
            .td-right
              #td-tagline
                h1
                  font-size: 3.2em
                  letter-spacing: 10px