/*
 * Sidebar

/* Hide for mobile, show later

/* Toggle Styles

#wrapper
  padding-left: 0
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  &.toggled
    padding-left: 300px

#sidebar-wrapper
  z-index: 1000
  position: fixed
  left: 300px
  width: 0
  height: 100%
  margin-left: -300px
  overflow-y: auto
  background-image: url(/img/sidebar-bg.jpg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

#wrapper.toggled #sidebar-wrapper
  width: 300px

#page-content-wrapper
  width: 100%
  position: absolute
  padding: 15px
  .row
    margin: 0 -10px
    [class*="col-"]
      padding: 0 5px
      .thumbnail
        padding: 10px
        overflow: hidden
        position: relative
        border: 0
        background-color: #EFEFEF
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0
        //.image-container
          //min-height: 300px
        &:before, &:after
          content: ""
          display: block
          background: transparent
          top: 0
          left: 0
          right: 0
          bottom: 0
          position: absolute
          width: 100%
          height: 100%
          -webkit-transition: all 0.3s ease
          -o-transition: all 0.3s ease
          transition: all 0.3s ease
        &:before
          -webkit-transform: translate(0, 0)
          -ms-transform: translate(0, 0)
          -o-transform: translate(0, 0)
          transform: translate(0, 0)
          border-top: 3px solid #000
          border-bottom: 3px solid #000
          left: -101%

        &:after
          -webkit-transform: translate(0, 0)
          -ms-transform: translate(0, 0)
          -o-transform: translate(0, 0)
          transform: translate(0, 0)
          border-left: 3px solid #000
          border-right: 3px solid #000
          top: -101%

        &:hover
          -webkit-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease
          color: white
          background-color: #040404
          .image-container
            //background-color: #000000
            //img
            //  opacity: 0.5
          &::before, .view-more
            span
              opacity: 1
              -webkit-transform: scale(1) translateY(-50%)
              transform: scale(1) translateY(-50%)
              color: #FFFFFF
          .caption
            color: #FFFFFF
          &:before
            -webkit-transform: translate(101%, 0)
            -ms-transform: translate(101%, 0)
            -o-transform: translate(101%, 0)
            transform: translate(101%, 0)

          &:after
            -webkit-transform: translate(0, 101%)
            -ms-transform: translate(0, 101%)
            -o-transform: translate(0, 101%)
            transform: translate(0, 101%)
      .description
        font-family: "Gotham-light", "sans-serif"
        margin: 20px 0 10px
        text-align: left

        text-overflow: ellipsis
        display: -webkit-box
        overflow: hidden
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        -moz-line-clamp: 2
        -moz-webkit-box-orient: vertical
        -o-line-clamp: 2
        -o-webkit-box-orient: vertical
        -ms-line-clamp: 2
        -ms-webkit-box-orient: vertical

#wrapper.toggled #page-content-wrapper
  position: absolute
  margin-right: -300px

/* Sidebar Styles
#MainMenu
  font-size: 15px
  padding: 0 40px
  height: 100%
  width: 100%
  display: table
  .list-group.panel
    height: 75%
    display: table-cell
    vertical-align: middle
    background-color: transparent
    border: 0
    .list-group-item
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      border: 0
      background-color: transparent
      color: #FFFFFF
    .sub-menu
      font-family: Gotham-Light, sans-serif
      padding-left: 30px
      font-size: 12px
  .footer
    height: 25%
    display: table-row
    .sidebar-footer
      font-family: Gotham-Light, sans-serif
      font-size: 12px
      display: table-cell
      color: #ffffff



@media (min-width: $screen-md-min)
  #wrapper
    padding-left: 300px
    &.toggled
      padding-left: 0
  #sidebar-wrapper
    width: 300px
  #wrapper.toggled #sidebar-wrapper
    width: 0
  #page-content-wrapper
    padding: 0
    position: relative
  #wrapper.toggled #page-content-wrapper
    position: relative
    margin-right: 0


.wrapper
  position: relative
  height: 120px

.reveal-animation
  width: 100%
  position: absolute
  top: 0
  left: 0


//for proudcts styles
.product-container
  padding: 0 20px
  .product-image
    padding: 10px !important
    background-color: #EFEFEF
    img
      width: 100%
  .product-information
    padding: 0 15px !important
    .product-title
      font-family: Gotham-Bold, sans-serif
    .description
      font-family: Gotham-Light, sans-serif
      margin: 0 0 50px

    .swatches
      .swatch
        width: 40px
        height: 40px
        margin: 0 3px
        background: #dddddd
        float: left
        cursor: pointer
        &.selected
          border: 2px solid black

  .lower
    .caption
      text-align: center
    padding-top: 50px
    .discussion
      padding: 0 15px  !important
      .disqus-container
        padding: 5px

@media (min-width: $screen-md-min)
  .vertical-align
    display: flex
    align-items: center



@keyframes spinner
  to
    transform: rotate(360deg)


@-webkit-keyframes spinner
  to
    -webkit-transform: rotate(360deg)


.loading
  padding-bottom: 121.77263969% !important // h/w*100
  height: 0 !important
  background-color: white
  position: relative
  &:before
    content: 'Loading…'
    position: absolute
    top: 50%
    left: 50%
    width: 24px
    height: 24px
    margin-top: -13px
    margin-left: -13px
  &:not(:required):before
    content: ''
    border-radius: 50%
    border: 1px solid #ccc
    border-top-color: #000000
    animation: spinner .6s linear infinite
    -webkit-animation: spinner .6s linear infinite


.b-lazy
  -webkit-transition: opacity 500ms ease-in-out
  -moz-transition: opacity 500ms ease-in-out
  -o-transition: opacity 500ms ease-in-out
  transition: opacity 500ms ease-in-out
  max-width: 100%
  opacity: 0
  &.b-loaded
    opacity: 1

.item
  //width: 25%
  //margin: 10px
  //float: left
