/*
 * Sidebar

/* Hide for mobile, show later

/* Toggle Styles

#wrapper
  padding-left: 0
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  &.toggled
    padding-left: 300px

#sidebar-wrapper
  z-index: 1000
  position: fixed
  left: 300px
  width: 0
  height: 100%
  margin-left: -300px
  overflow-y: auto
  background-image: url(/img/sidebar-bg.jpg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

#wrapper.toggled #sidebar-wrapper
  width: 300px

#page-content-wrapper
  width: 100%
  position: absolute
  padding: 15px
  .row
    margin: 0 -10px
    [class*="col-"]
      padding: 0 5px
      .thumbnail
        padding: 10px
        overflow: hidden
        position: relative
        border: 0
        background-color: #EFEFEF
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0
        &:before, &:after
          content: ""
          display: block
          background: transparent
          top: 0
          left: 0
          right: 0
          bottom: 0
          position: absolute
          width: 100%
          height: 100%
          -webkit-transition: all 0.3s ease
          -o-transition: all 0.3s ease
          transition: all 0.3s ease
        &:before
          -webkit-transform: translate(0, 0)
          -ms-transform: translate(0, 0)
          -o-transform: translate(0, 0)
          transform: translate(0, 0)
          border-top: 3px solid #000
          border-bottom: 3px solid #000
          left: -101%

        &:after
          -webkit-transform: translate(0, 0)
          -ms-transform: translate(0, 0)
          -o-transform: translate(0, 0)
          transform: translate(0, 0)
          border-left: 3px solid #000
          border-right: 3px solid #000
          top: -101%

        &:hover
          -webkit-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease
          color: white
          background-color: #040404
          .caption
            color: #FFFFFF
          &:before
            -webkit-transform: translate(101%, 0)
            -ms-transform: translate(101%, 0)
            -o-transform: translate(101%, 0)
            transform: translate(101%, 0)

          &:after
            -webkit-transform: translate(0, 101%)
            -ms-transform: translate(0, 101%)
            -o-transform: translate(0, 101%)
            transform: translate(0, 101%)

#wrapper.toggled #page-content-wrapper
  position: absolute
  margin-right: -300px

/* Sidebar Styles
#MainMenu
  font-size: 15px
  padding: 0 40px
  height: 100%
  width: 100%
  display: table
  .list-group.panel
    height: 75%
    display: table-cell
    vertical-align: middle
    background-color: transparent
    border: 0
    .list-group-item
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      border: 0
      background-color: transparent
      color: #FFFFFF
    .sub-menu
      font-family: Gotham-Light, sans-serif
      padding-left: 30px
      font-size: 12px
  .footer
    height: 25%
    display: table-row
    .sidebar-footer
      font-family: Gotham-Light, sans-serif
      font-size: 12px
      display: table-cell
      color: #ffffff



@media (min-width: 768px)
  #wrapper
    padding-left: 300px
    &.toggled
      padding-left: 0
  #sidebar-wrapper
    width: 300px
  #wrapper.toggled #sidebar-wrapper
    width: 0
  #page-content-wrapper
    padding: 0
    position: relative
  #wrapper.toggled #page-content-wrapper
    position: relative
    margin-right: 0