body
  background-color: black

.owl-nav
  font-size: 27px
  font-family: "Gotham-Light", "sans-serif"
  .owl-prev, .owl-next
    position: absolute
    color: #000
    top: 2%
    background-color: white

  .owl-prev
    right: 78px
    padding: 0 8px

  .owl-next
    right: 45px
    padding: 0 8px

#whatsnew
  font-family: Gotham-Light
  .container-fluid
    padding: 0
    .product-container
      height: calc(100vh - 125px)
      width: 100%
      margin: 0
      .product-image-container
        height: 100%
        background-color: #070707
        .frame
          display: table
          height: 100%
          white-space: nowrap
          text-align: center
          .img-frame
            display: table-cell
            vertical-align: middle
            img
              vertical-align: middle
              max-height: 400px
              height: 70vh
              width: initial
      .product-description-container
        padding: 40px
        .product-title
          margin: 0
          font-size: 4em
          letter-spacing: 1px
          text-transform: uppercase
        .product-description
          font-size: 1.5em
          margin: 5% 0
          text-transform: uppercase
          line-height: 5.5vh
        .product-net
          font-size: 1.5em
          display: block
          float: right

#promotions
  img
    width: 100%

#announcement-section
  max-width: 1440px
  margin: 0 auto
  font-family: Gotham-Light
  #announcement-container
    .announcement-item
      margin: 0 auto
      .caption-container
        position: relative
        color: white
        background-color: rgba(0,0,0,1)
        padding: 0 5%
        width: 100%
        .announcement-title
          margin: 30px 0
        .announcement-description
          margin: 30px 0
          line-height: 30px
          font-size: 16px
          max-width: 60%

@media (max-width: $screen-sm-max)
  .product-description-container
    float: left
    padding: 0 20px !important
    display: table
    height: 50%
    .frame
      display: table-cell
      vertical-align: middle
      .product-title
        font-size: 2em !important
      .product-description
        line-height: 1 !important
        font-size: 1em !important

  .product-image-container
    height: 50% !important
    .frame
      display: block !important
      .img-frame
        display: block !important
        height: 100%
        img
          height: 100% !important
          width: auto !important
  #announcement-section
    #announcement-container
      .announcement-item
        .caption-container
          .announcement-description
            max-width: 100%

@media (max-width: $screen-xs-max)
  #announcement-section
    #announcement-container
      .announcement-item
        .caption-container
          .announcement-title
            font-size: 27px
  