body
  background-color: black

.owl-nav
  font-size: 27px
  font-family: "Gotham-Light", "sans-serif"
  .owl-prev, .owl-next
    position: absolute
    color: #000
    top: 50%
    background-color: white
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)

  .owl-prev
    left: 0
    padding: 0 8px
    #owl-left
      height: 40px
      padding: 5px

  .owl-next
    right: 0
    padding: 0 8px
    #owl-right
      height: 40px
      padding: 5px

#whatsnew
  font-family: Gotham-Light
  .container-fluid
    padding: 0

#announcement-section
  padding: 3% 0
  max-width: 1000px
  margin: 0 auto
  font-family: Gotham-Light
  .container-fluid
    .announcement-container
      position: relative
      .announcement-item
        margin: 0 auto
        img
          max-width: 1000px
    .caption-container
      position: relative
      color: white
      background-color: rgba(0,0,0,1)
      padding: 2% 0 5%
      width: 100%
      max-width: 1000px
      margin: 0 auto
      .announcement-title
        margin: 30px 0
      p
        font-size: 17px


@media (max-width: 1200px)
  #announcement-section
    .container-fluid
      .announcement-container
        .announcement-item
          img
            max-width:  100%
      .caption-container
        padding: 2% 5% 5%

@media (max-width: $screen-sm-max)

  #announcement-section
    .container-fluid
      .caption-container
        .announcement-description
          max-width: 100%

@media (max-width: $screen-xs-max)
  #announcement-section
    .container-fluid
      .caption-container
        .announcement-title
          font-size: 27px


