<div class="container-fluid">
    <div id="gallery" class="video-container">
        <img alt="Youtube With Images"
             data-type="youtube"
             src="thumbs/youtube_thumb.jpg"
             data-image="images/youtube_image.jpg"
             data-videoid="A3PDXmYoF5U"
             data-description="Youtube video description">

        <img alt="Youtube Without Images"
             data-type="youtube"
             data-videoid="A3PDXmYoF5U"
             data-description="Youtube video description">

        <img alt="Vimeo Video"
             data-type="vimeo"
             src="thumbs/vimeo_thumb.jpg"
             data-image="images/vimeo_image.jpg"
             data-videoid="73234449"
             data-description="Vimeo Video Description">

        <img alt="Html5 Video"
             src="thumbs/html5_video_thumb.png"
             data-type="html5video"
             data-image="thumbs/html5_video_image.png"
             data-videoogv="http://video-js.zencoder.com/oceans-clip.ogv"
             data-videowebm="http://video-js.zencoder.com/oceans-clip.webm"
             data-videomp4="http://video-js.zencoder.com/oceans-clip.mp4"
             data-description="Html5 Video Description">

        <img alt="Wistia Video"
             src="thumbs/wistia_thumb.jpg"
             data-image="images/wistia_image.jpg"
             data-videoid="9oedgxuciv"
             data-description="Wistia video description!">

        <img alt="Sound Cloud Track"
             src="thumbs/sound_cloud_thumb.jpg"
             data-type="soundcloud"
             data-image="images/sound_cloud_image.jpg"
             data-trackid="8390970"
             data-description="SoundCloud track description">
    </div>
</div>