---
layout: pages/products
permalink: /products/
---
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div id="MainMenu">
            <div class="list-group panel">
                {% for category in site.data.categories %}
                <a href="#!/{{ category.name }}" data-target="#{{ category.name }}" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">{{ category.name | upcase }}</a>

                <div class="collapse sub-menu" id="{{ category.name }}">
                    {% for product in site.products %}
                        {% assign categoryName = category.name | downcase %}
                        {% if product.categories contains categoryName %}
                            <a ng-href="#!{{ product.url | replace_first:'/products','' }}" data-target="#{{ product.url | replace_first:'/products','' }}" class="list-group-item">{{ product.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="footer">
                <div class="sidebar-footer">
                    <p>2015 ALL RIGHTS RESERVED</p>
                    <p>COSMETIC REVELATION CORPORATION</p>
                </div>
            </div>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div ng-view class="reveal-animation" autoscroll="true"></div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
