<div class="row">
    <div class="col-md-8 left-content">
        <h3>About FS Cosmetics </h3>
        <p>
            FS Cosmetics is a Philippine makeup brand that had its beginnings in November 2003.
        </p>
        <p>
            The brand is owned by Mr. Edmon Ngo, the scion of a pioneer in the Philippine cosmetic industry, who launched his own company, Cosmetics Revelation Corporation, that honors integrity and excellence and that draws from the solid experience of his parents’ company.
        </p>
        <p>
            Cosmetics Revelation established its niche in producing quality cosmetics for other Philippine companies in the first year of its operation and acquired sole ownership and distribution of FS by F21 Cosmetics.  FS Cosmetics were sold in about fourteen (14) outlets in GMA, Cebu City, General Santos City and Davao City.  Yet despite such limited sales network, the Philippine cosmetics market took notice of FS Cosmetics when the brand won the Philippine Marketing Excellence Award for producing the most outstanding cosmetic products in 2004.  FS Cosmetics has also been hailed as Beauty Award Winner by Preview and Cosmopolitan Magazines in 2006 and 2008.  From a mere fourteen (14) outlets selling FS Cosmetics, our beauty counters can now be found in sixty-two (62) malls nationwide, demonstrating that FS continue to spread its wings in the Philippine cosmetics market.
        </p>
        <p>
            FS Cosmetics has not lost sight of its focus in providing high quality cosmetics suitable for the Filipina skin at prices that ensured the value equation would always been in favor of the consumer. We also believed that the quality of our product would be better received if we associated our brand with individuals who were renowned for their makeup artistry. And, this decision and direction was right for FS Cosmetics a decade ago  but admittedly, times have changed.
        </p>
        <p>
            Today, the cosmetics user is a fast moving Filipina who wants her makeup to conform to her lifestyle -- fast and flexible.  The days of relying on a specific artist to show and prove the effectiveness of anything - including makeup - have all but disappeared.  The face has become a canvass waiting to be transformed into a masterpiece.  And so as our market has changed, FS has undergone a change itself.
        </p>
        <p>
            Such a change is not a re-invention nor a re-formulation of any sort whatsoever.  Instead, this shift is a re-discovery of why we created FS originally -- to provide high quality cosmetics for Filipina skin but this time - directly into their hands. No more makeup chairs. No more artists. And as you'll see in our upcoming launch, the tagline will say it all - "Just the makeup. Just you".
        </p>
        <p>
            This is at the heart of the re-discovery of FS and the rebranding as Features and Shades.
        </p>


        <h3>About Cosmetics Revelation Corporation</h3>
        <p>
            Cosmetics Revelation Corporation (CosRev) was founded on June 18, 2004 out of the desire of company president, Mr. Edmon S. Ngo to head a business venture of his own that honors integrity, excellence, teamwork, Christian principles, and critical thinking. Mr. Ngo’s family had been in the cosmetics industry since the early 70’s. This provided him with an excellent background, and with the help of a group of trusted friends helped him turn this vision into a reality.
        </p>
        <p>
            CosRev, currently, distributes to 65 outlets nationwide. The company aims to continue expanding, especially to the Mindanao area, in its quest to be among the top 3 cosmetics brands in the Philippines. In line with the president’s original intentions, CosRev seeks to honor God in all its business transactions, as well as, to provide and continually develop high quality and trendy cosmetic products that are suitable for all market needs in key Philippine cities.
        </p>
        <p>
            As part of its social responsibility, CosRev prides itself in being a transformative agent of society through the Vision of Hope Foundation and CCT Kaibigan Ministry, Inc..
        </p>
        <br/>
    </div>
    <div class="col-md-4 right-content">
        <div>
            <h3>Corporate Social Responsibility</h3>
        </div>
        <img class="center-block img-responsive" src="/img/voh.png"/>
        <p>Visions of Hope Foundation (VOH) is the Children and Youth Ministry of the Center for Community Transformation (CCT) , a Christian Development Organization implementing holistic and transformational programs and services among poor communities all over the Philippines. </p>
        <h5><b><a href="http://www.visionsofhopefoundation.org">Visit Visions of Hope Foundation Website</a></b></h5>

        <img class="center-block img-responsive" src="/img/kmi.png"/>
        <p>Kaibigan Ministry is work of the Center for Community Transformation among street dwellers. It began in 2005 with a simple Saturday dawn feeding-cum-Bible study program held outside the building in Manila where CCT has its support office.</p>
        <h5><b><a href="http://cct.org.ph/kaibigan-ministry/">Visit Kaibigan Ministry Website</a></b></h5>
        <div>
        </div>
    </div>

</div>