<div class="row">
    <div class="col-md-8 left-content">
        <h3>About Cosmetics Revelation Corporation</h3>
        <p>
            Cosmetics Revelation Corporation (CosRev) was founded on June 18, 2004 out of the desire of company president, Mr. Edmon S. Ngo to head a business venture of his own that honors integrity, excellence, teamwork, Christian principles, and critical thinking. Mr. Ngo’s family had been in the cosmetics industry since the early 70’s. This provided him with an excellent background, and with the help of a group of trusted friends helped him turn this vision into a reality.
        </p>
        <p>
            CosRev, currently, distributes to 65 outlets nationwide. The company aims to continue expanding, especially to the Mindanao area, in its quest to be among the top 3 cosmetics brands in the Philippines. In line with the president’s original intentions, CosRev seeks to honor God in all its business transactions, as well as, to provide and continually develop high quality and trendy cosmetic products that are suitable for all market needs in key Philippine cities.
        </p>
        <p>
            As part of its social responsibility, CosRev prides itself in being a transformative agent of society through the Vision of Hope Foundation and CCT Kaibigan Ministry, Inc..
        </p>


        <!--<h3>About Fashion 21</h3>-->
        <!--<p>-->
            <!--Fashion 21 Cosmetics was conceptualized and introduced to the Philippine market in 1985 by the late Mr. Mariano T. Ngo, the father of company president. At this time, the Ngo patriach and his wife had already made a name for themselves with Aido Cosmetics which was launched during the early 70’s.-->
        <!--</p>-->
        <!--<p>-->
            <!--Fashion 21 was born from the idea of a fresh look for the woman of the 21st century. It was to offer to Filipinas a new brand of imported, good quality and long-lasting make up at an affordable price. It was dubbed as a brand that showcases world-class products that would fit the woman of the next decade.-->
        <!--</p>-->
        <!--<p>-->
            <!--Today, Fashion 21 positions itself as one of the top local cosmetic brands that has undeniable good quality, comes in trendy and stylish packaging with a very friendly price. It caters to the wise value shoppers who know how to make every peso count.-->
        <!--</p>-->
        <!--<p>-->
            <!--Knowing the value of hard-earned money, Fashion 21 has committed itself to never shortchange its clients. It boasts of beauty products that one can use until the last swipe of powder on the tin pan, the last stroke of lip color from one’s lipstick and until the shortest possible eye pencil that one’s hand can hold.-->
        <!--</p>-->
        <!--<p>-->
            <!--As Fashion 21 seeks to further expand its reach and serve the Filipino community, our team is committed to continually serve our clients with excellence and integrity.-->
        <!--</p>-->

        <h3>Contact us</h3>
        <address>
            <p>
                <!--<strong>Fashion 21 Cosmetics</strong><br>-->
                <abbr title="Phone">Tel. No:</abbr> 355-5311, 355-5322, 355-5388<br>
                <abbr title="Phone">Fax No.:</abbr> 355-3328<br>
                <abbr title="Email">Email:</abbr><a href="mailto:#"> cosmetics.revelation@gmail.com</a>
            </p>
        </address>
    </div>
    <div class="col-md-4 right-content">
        <div>
            <h3>Corporate Social Responsibility</h3>
        </div>
        <img class="center-block img-responsive" src="/img/voh.png"/>
        <p>Visions of Hope Foundation (VOH) is the Children and Youth Ministry of the Center for Community Transformation (CCT) , a Christian Development Organization implementing holistic and transformational programs and services among poor communities all over the Philippines. </p>
        <h5><b><a href="http://www.visionsofhopefoundation.org">Visit Visions of Hope Foundation Website</a></b></h5>

        <img class="center-block img-responsive" src="/img/kmi.png"/>
        <p>Kaibigan Ministry is work of the Center for Community Transformation among street dwellers. It began in 2005 with a simple Saturday dawn feeding-cum-Bible study program held outside the building in Manila where CCT has its support office.</p>
        <h5><b><a href="http://cct.org.ph/kaibigan-ministry/">Visit Kaibigan Ministry Website</a></b></h5>
        <div>
        </div>
    </div>

</div>