<div class="row">
    <div class="col-md-8 left-content">
        <h3>About FS Cosmetics</h3>
        <p>
            FS Cosmetics is a Philippine makeup brand that had its beginnings in November 2003.
        </p>
        <p>
            The brand is owned by Mr. Edmon Ngo, the scion of a pioneer in the Philippine cosmetic industry, who launched his own company, Cosmetics Revelation Corporation, that honors integrity and excellence and that draws from the solid experience of his parents' company.
        </p>
        <p>
            Cosmetics Revelation established its niche in producing quality cosmetics for other Philippine companies in the first year of its operation and acquired sole ownership and distribution of FS by F21 Cosmetics. FS Cosmetics were sold in about fourteen (14) outlets in GMA, Cebu City, General Santos City and Davao City. Yet despite such limited sales network, the Philippine cosmetics market took notice of FS Cosmetics when the brand won the Philippine Marketing Excellence Award for producing the most outstanding cosmetic products in 2004. FS Cosmetics has also been hailed as Beauty Award Winner by Preview and Cosmopolitan Magazines in 2006 and 2008. From a mere fourteen (14) outlets selling FS Cosmetics, our beauty counters can now be found in sixty-two (62) malls nationwide, demonstrating that FS continue to spread its wings in the Philippine cosmetics market.
        </p>
        <p>
            Features & Shades seeks to offer makeup products to the Filipina that allows her to be authentic and highlight her innate, natural beauty, without the need to mask what she is not. This has been at the crux of the philosophy of the brand in developing makeup that elevates the faces of Filipina – the Oriental or Chinita, the fair-complexioned or Mestiza, and the Morena or Kayumanggi with her natural tan. Each shade of the Filipina is uniquely beautiful and no particular type of beauty trumps the other. Features & Shades exists to serve this uniqueness with the range of makeup that is more akin to the Filipina skin.
        </p>
        <p>
            Thus, FEATURES stand for the Filipina facial features and skin tones as SHADES represent the array of colors that FS Cosmetics has made available in the market. Features & Shades were fused together to become the new brand name of FS Cosmetics to reaffirm its appreciation and embrace of the Filipina’s unique kind of beauty. With FS Features & Shades, each shade of the Filipina, along with its nuances and uniqueness is worth celebrating!
        </p>

        <h3>About Cosmetics Revelation Corporation</h3>
        <p>
            Cosmetics Revelation Corporation (CosRev) was founded on June 18, 2004 out of the desire of company president, Mr. Edmon S. Ngo to head a business venture of his own that honors integrity, excellence, teamwork, Christian principles, and critical thinking. Mr. Ngo’s family had been in the cosmetics industry since the early 70’s. This provided him with an excellent background, and with the help of a group of trusted friends helped him turn this vision into a reality.
        </p>
        <p>
            CosRev, currently, distributes to 65 outlets nationwide. The company aims to continue expanding, especially to the Mindanao area, in its quest to be among the top 3 cosmetics brands in the Philippines. In line with the president’s original intentions, CosRev seeks to honor God in all its business transactions, as well as, to provide and continually develop high quality and trendy cosmetic products that are suitable for all market needs in key Philippine cities.
        </p>
        <p>

            As part of its social responsibility, CosRev prides itself in being a transformative agent of society through the Vision of Hope Foundation and CCT Kaibigan Ministry, Inc..
        </p>
        <br/>
    </div>
    <div class="col-md-4 right-content">
        <div>
            <h3>Corporate Social Responsibility</h3>
        </div>
        <img class="center-block img-responsive" src="/img/voh.png"/>
        <p>Visions of Hope Foundation (VOH) is the Children and Youth Ministry of the Center for Community Transformation (CCT) , a Christian Development Organization implementing holistic and transformational programs and services among poor communities all over the Philippines. </p>
        <h5><b><a href="http://www.visionsofhopefoundation.org">Visit Visions of Hope Foundation Website</a></b></h5>

        <img class="center-block img-responsive" src="/img/kmi.png"/>
        <p>Kaibigan Ministry is work of the Center for Community Transformation among street dwellers. It began in 2005 with a simple Saturday dawn feeding-cum-Bible study program held outside the building in Manila where CCT has its support office.</p>
        <h5><b><a href="http://cct.org.ph/kaibigan-ministry/">Visit Kaibigan Ministry Website</a></b></h5>
        <div>
        </div>
    </div>

</div>
