<div class="product-container">
    <div class="row vertical-align">
        <div class="col-sm-4 col-lg-3 product-image">
            <div class="img-container loading">
                <img class="img-responsive b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="{{ page.feature_image }}" />
            </div>
        </div>

        <div class="col-sm-8 product-information">
            <h1 class="product-title">{{ page.title }}</h1>
            <p class="description">{{ content | remove: '<p>' | remove: '</p>' }}</p> <!--gotham regular-->
            {% unless page.colors[0].hex == 'N/A' %}
                <h3>Colors Available:</h3>
                {% if page.multiple_colors %}
                    {% for color in page.colors %}
                        <h5>{{ color.color_name }}</h5>
                        <div class="swatches swatches-multiple">
                            {% assign multiple_colors = color.hex | split: "+" %}
                            {% for color in multiple_colors %}
                                <div data-toggle="tooltip" data-placement="top" title="{{ color.color_name }}" class="swatch" style="background-color: #{{ color }};"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% elsif page.color_image %}
                    <div class="swatches">
                    {% for color in page.colors %}
                        <h5>{{ color.color }}</h5>
                        <img class="img-responsive" src="{{ color.hex }}" alt="{{ color.color_name }}" />
                    {% endfor %}
                    </div>
                {% else %}
                <div class="swatches">
                    {% for color in page.colors %}
                        <div data-toggle="tooltip" data-placement="top" title="{{ color.color_name }}" class="swatch" style="background-color: #{{ color.hex }};"></div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endunless %}
        </div>
    </div>
    <div class="row lower">
        <div class="col-md-4">
            <h4>Related Products</h4>

            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-12 col-lg-6 col-md-6" ng-repeat="relatedProduct in relatedProducts | limitTo:2" on-finish-render>
                    <a ng-href="[[ relatedProduct.link ]]" class="thumbnail">
                        <div class="img-container loading">
                            <img class="img-responsive b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="[[ relatedProduct.feature_image ]]" />
                        </div>
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-12"><span>[[ relatedProduct.title ]]</span></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 discussion">
            <h4>Discussion</h4>
            <div class="disqus-container">
                <dir-disqus disqus-shortname="fscosmetics"
                            disqus-identifier="{{ page.sku }}"
                            disqus-url="{{ site.url }}{{ page.url | replace_first:'/products','/products/#!' }}">
                </dir-disqus>
            </div>
        </div>
    </div>
</div>