<div class="container-fluid">
    <div class="table">
        <div class="table-row">
            <div class="td-left col-lg-6 col-md-6">
                <div id="td-tagline">
                    <p>Becoming beautiful is no longer a secret, make <b>FS Cosmetics</b> part of your lifestyle.</p>
                </div>
            </div>
            <div class="td-right td-img center-block col-lg-6 col-md-6">
                <img src="https://res.cloudinary.com/fscosmetics/image/upload/v1442379820/assets/banner.png"/>
            </div>
        </div>
    </div>
</div>
