<div id="best-seller-section" class="container-fluid">
    <div class="best-seller-container row">
        <div class="col-lg-6 col-md-6 left-container">
            <ul id="productImgSlider">
                {% for productItems in site.data.dummyproduct %}
                <li class="product-item" data-name="{{ productItems.title }}">
                    <!--<h3 class="product-title">{{ productItems.title }}</h3>-->
                    <!--<hr class="product-divider">-->
                    <img class="product-image img-responsive center-block owl-lazy" data-src="{{ productItems.image }}" >
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 hidden-sm right-corner">
            <div class="content-container">
                <h1 class="section-header">BEST SELLER</h1>
                <hr class="content-separator"/>
                <h3 class="best-seller-title">FACE CONCEALER 1</h3>
                <p class="best-seller-description">Foundation stick that flawlessly covers blemishes. It has SPF40+ PA+++ to protect skin against harmful rays from the sun.</p>
            </div>
        </div>
    </div>
</div>