<div class="container">
    <div id="brand-logo">
        <img src="/img/home/brand-logo.png"/>
    </div>
    <div id="cbp-qtrotator" class="cbp-qtrotator">
        {% for newsFeed in site.data.newsFeed %}
        <div class="cbp-qtcontent">
            <p>{{ newsFeed.news }}</p>
        </div>
        {% endfor %}
    </div>
    <div id="cover-store-container">
        <a id="cover-store-button" href="#">
            <b>VISIT STORE</b>
        </a>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/img/home/brand-logo.png"/>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav">
                    <li><a href="javascript:void(0)">HOME</a></li>
                    <li><a href="javascript:void(0)">PRODUCT</a></li>
                    <li><a href="javascript:void(0)">WHAT'S NEW</a></li>
                    <li><a href="javascript:void(0)">CONTACT</a></li>
                    <li><a href="javascript:void(0)">STORE</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>