<div id="cover-section" class="container-fluid">
    <img src="/img/cover-banner.jpg" class="img-responsive center-block"/>
    <!--<div class="table">-->
        <!--<div class="table-row">-->
            <!--<div class="td left-corner td-img center-block col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
                <!--<img src="https://res.cloudinary.com/fscosmetics/image/upload/v1505469795/love-your-beauty5.jpg" data-sr="wait 0.1s"/>-->
                <!--<div class="intro-arrow hidden-md hidden-lg">-->
                    <!--<a href="#awards-section">-->
                        <!--<img class="img-responsive center-block" src="/img/black_arrow.png" alt="down arrow">-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="td right-corner col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
                <!--<div class="td-right">-->
                    <!--<div id="td-tagline">                      	-->
                        <!--&lt;!&ndash;<h1 data-sr="wait 0.2s">NO CHAIRS.</h1>-->
                        <!--<h1 data-sr="wait 0.3s">NO ARTISTS.</h1>-->
                        <!--<h1 data-sr="wait 0.4s">JUST MAKEUP.</h1>-->
                        <!--<h1 data-sr="wait 0.5s">JUST YOU.</h1>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div id="td-product" class="hidden-xs" data-sr="wait 0.7s">-->
                        <!--<a href="/products/#!">-->
                            <!--<span id="cover-store-button">VISIT PRODUCTS</span>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div id="td-arrow">-->
                        <!--<div class="intro-arrow hidden-sm hidden-xs">-->
                            <!--<a href="#best-seller-section">-->
                                <!--<img src="/img/white_arrow.png" alt="down arrow">-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="page-scroll hidden-sm hidden-xs">-->
        <!--<a href="#product-section">-->
            <!--<img src="/img/arrow-icon.png"/>-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-menu-down arrow-icon"></span>&ndash;&gt;-->
        <!--</a>-->
    <!--</div>-->
</div>
