<div class="container">
    <div id="brand-logo">
        <img src="/img/home/brand-logo.png"/>
    </div>
    <div id="cbp-qtrotator" class="cbp-qtrotator">
        <div id="cover-content">
            <p></p>
        </div>
    </div>
    <div id="cover-store-container">
        <a id="cover-store-button" href="#">
            <b>VISIT STORE</b>
        </a>
    </div>
    <div id="navbar-menu-container">
        <ul>
            <li>
                <a >HOME</a>
            </li>
            <li>
                <a>WHAT'S NEW</a>
            </li>
            <li>
                <a>PRODUCT</a>
            </li>
            <li>
                <a>CONTACT</a>
            </li>
            <li>
                <a>STORE</a>
            </li>
        </ul>
    </div>
</div>