<div class="container">
    <div class="row">
        <div class="product-category col-md-6">
            <ul>
                <li>
                    <a href="javascript:void(0)">FACE</a>
                </li>
                <li>
                    <a href="javascript:void(0)">EYES</a>
                </li>
                <li>
                    <a href="javascript:void(0)">CHEEKS</a>
                </li>
                <li>
                    <a href="javascript:void(0)">LIPS</a>
                </li>
                <li>
                    <a href="javascript:void(0)">ACCESSORIES</a>
                </li>
            </ul>
        </div>
        <div class="product-category-images col-md-4">
            <ul id="product-img-slider">
                <li>
                    <img src="/img/home/products/product-1.jpg"/>
                </li>
                <li>
                    <img src="/img/home/products/product-2.jpg"/>
                </li>
                <li>
                    <img src="/img/home/products/product-3.jpg"/>
                </li>
            </ul>
        </div>
        <div class="product-button col-md-2">
            <a href="javascript:void(0)"></a>
        </div>
    </div>
</div>