<div class="container">
    <div class="product-category">
        <ul>
            <li>
                <a href="javascript:void(0)">FACE</a>
            </li>
            <li>
                <a href="javascript:void(0)">EYES</a>
            </li>
            <li>
                <a href="javascript:void(0)">CHEEKS</a>
            </li>
            <li>
                <a href="javascript:void(0)">LIPS</a>
            </li>
            <li>
                <a href="javascript:void(0)">ACCESSORIES</a>
            </li>
        </ul>
    </div>
    <div class=" product-category-images">
        <ul id="product-img-slider">
            <li>
                <img src="/img/home/products/product-1.jpg"/>
            </li>
            <li>
                <img src="/img/home/products/product-2.jpg"/>
            </li>
            <li>
                <img src="/img/home/products/product-3.jpg"/>
            </li>
        </ul>
    </div>

</div>