<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="col-lg-7 col-md-7 col-sm-6 product-model">
                <img src="http://res.cloudinary.com/fscosmetics/image/upload/v1442905633/assets/product-model.jpg"/>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 product-menu">
                <ul role="tablist">
                    {% for categoryMenu in site.data.categories %}
                    <li role="presentation">
                        <a href="#{{ categoryMenu.name | downcase }}" aria-controls="{{ categoryMenu.name | downcase }}" role="tab" data-toggle="tab">
                            {{ categoryMenu.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 product-view tab-content">
            {% assign sorted-productTab = site.data.product | sort:"id" %}
            {% for productTab in sorted-productTab %}
            <div role="tabpanel" {% if productTab.id == 1 %} class="tab-pane active" {% endif %} class="tab-pane" id="{{ productTab.category }}">
                <div class="table">
                    <div class="tr">
                        <div class="td pull-left product-title">
                            <h2>{{ productTab.title }}</h2>
                        </div>
                        <div class="td pull-right product-ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="product-description col-lg-5 col-md-5">
                            <p>{{ productTab.description }}</p>
                        </div>
                        <div class="product-image col-lg-7 col-md-7">
                            <img src="{{ productTab.image }}"/>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

