<div id="top-pick-section"  class="container-fluid hidden-sm hidden-xs">
    <div class="row top-pick-content">
        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-6 top-pick-model">

                <img src="http://res.cloudinary.com/fscosmetics/image/upload/v1442905633/assets/product-model.jpg"/>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 top-pick-menu">
                <ul role="tablist">
                    {% for categoryMenu in site.data.categories %}
                    <li role="presentation">
                        <a href="#{{ categoryMenu.name | downcase }}" aria-controls="{{ categoryMenu.name | downcase }}" role="tab" data-toggle="tab">
                            {{ categoryMenu.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 top-pick-view tab-content">
            {% assign sortedTopPickTab = site.data.topPick | sort:"id" %}
            {% for topPickTab in sortedTopPickTab %}
            <div role="tabpanel" {% if topPickTab.id == 1 %} class="tab-pane active" {% endif %} class="tab-pane fade" id="{{ topPickTab.category }}">
                <div class="table">
                    <div class="tr">
                        <div class="col-lg-6">
                            <img class="top-pick-image img-responsive" src="{{ topPickTab.image }}"/>
                        </div>
                        <div class="col-lg-6">
                            <img class="top-pick-image img-responsive" src="{{ topPickTab.image }}"/>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="col-lg-6">
                            <img class="top-pick-image img-responsive" src="{{ topPickTab.image }}"/>
                        </div>
                        <div class="col-lg-6">
                            <img class="top-pick-image img-responsive" src="{{ topPickTab.image }}"/>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

