<div id="top-pick-section"  class="container-fluid hidden-sm hidden-xs">
    <div class="row top-pick-content">
        <div class="top-pick-menu-container col-lg-6 col-md-6 col-sm-6 hidden-xs">
            <div class="background-overlay"></div>
            <div class="top-pick-menu col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6">
                <ul role="tablist">
                    {% for categoryMenu in site.data.categories %}
                    <li role="presentation">
                        <a href="#{{ categoryMenu.name | downcase }}" aria-controls="{{ categoryMenu.name | downcase }}" role="tab" data-toggle="tab">
                            {{ categoryMenu.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 top-pick-view tab-content">
            {% for topPick in site.products %}
                {% if topPick.top_pick %}
                    <div role="tabpanel" {% if forloop.index == 1 %} class="tab-pane active" {% endif %} class="tab-pane fade" id="{{ topPick.categories[0] }}">
                        <div class="table">
                            <h3 class="text-left top-pick-title">{{ topPick.title }}</h3>
                            <img class="top-pick-image img-responsive center-block" src="{{ topPick.feature_image }}"/>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

