<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="content-left-container">
                <div class="content-image">
                    <img src="/img/home/whatsnew/1.jpg"/>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class
            <img src="/img/home/whatsnew/2.jpg"/>
        </div>
    </div>
</div>