<div class="container">
    <div class="row">
        <div class="col-md-6 content-left-container">
            {% for brandNew in site.data.whatsnew limit: 1 %}
            <div class="content-container" style="margin: 0 -15px">
                <img style=" width: 100%; min-width: 100vh;" src="{{ brandNew.image }}"/>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6 content-right-container">
            {% for brandNew in site.data.whatsnew limit:1 offset:1 %}
            <div class="content-container" style="margin: 0 -15px">
                <img style=" width: 100%; min-width: 100vh;" src="{{ brandNew.image }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>