<div class="container">
    <div class="row">
        <div class="col-md-6 content-left-container">
            {% for brandNew in site.data.whatsnew limit: 1 %}
            <div class="content-image">
                <img src="{{ brandNew.image }}"/>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6 content-right-container">
            {% for brandNew in site.data.whatsnew limit:1 offset:1 %}
            <div class="content-image">
                <img src="{{ brandNew.image }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>